@model HvoyaApplication.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Реєстрація";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Реєстрація</h1>
            <hr />

            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="alert alert-danger text-center">
                    @ViewBag.ErrorMessage
                </div>
            }

            <form asp-action="Register" method="post" class="mt-4">
                <div class="form-group">
                    <label for="FullName">Ім'я користувача</label>
                    <input asp-for="FullName" class="form-control" id="FullName" placeholder="Введіть ваше ім'я" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label for="Email">Електронна пошта</label>
                    <input asp-for="Email" class="form-control" id="Email" placeholder="Введіть вашу пошту" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label for="Password">Пароль</label>
                    <input asp-for="Password" type="password" class="form-control" id="Password" placeholder="Введіть ваш пароль" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label for="ConfirmPassword">Підтвердження пароля</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" placeholder="Повторіть пароль" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-4">Зареєструватись</button>
            </form>

            <div class="text-center mt-4">
                <p>Вже маєте обліковий запис? <a href="@Url.Action("Login", "Account")">Увійти</a></p>
            </div>
        </div>
    </div>
</div>
