@{
    ViewData["Title"] = "Замовлення оформлено";
}

<div class="container mt-5 text-center">
    <h1 class="text-success">Дякуємо за ваше замовлення!</h1>
    <p class="lead mt-3">Ваше замовлення успішно оформлено. Ми зв'яжемося з вами найближчим часом.</p>
    <a href="/" class="btn btn-primary btn-lg mt-4">Повернутись на головну</a>
</div>
